.page {
  padding-top: 50px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #eceef2, #efeff1);
  color: #e5e7eb;
}

.page .box {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background: #1f2937;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  text-align: center;
  transition: transform 0.3s;
}

.page .box:hover {
  transform: scale(1.05);
}
