* {
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}
body {
  min-width: 1200px;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.all_nowarp {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.all_warp {
  word-break: break-all;
  word-wrap: break-word;
}
.all_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #333;
}
